Card {
  border: 1 px solid red;
  background-color: antiquewhite;
  padding: 1vw;
  text-align: center;
  width: 20vw;
  height: auto;
}

div.beast-card{
  display: inline-block;
  box-sizing: border-box;
}

.card{
  /* margin: revert; */
  text-align: center;
  margin: auto;
  margin-top: 20px;
  box-sizing: border-box;
  /* position: relative; */
  /* display: block; */
}

 Card.title{
  margin: none;
  border: 1px solid black;
}

 img{
  /* width: 5vw;
  height: 5vw; */
  /* border: 1px solid black; */
  margin-bottom: 15px;
}

 img:hover{
  cursor: pointer;
  border-bottom: blue 1px dashed;
  padding-bottom: 10px;
}

 p{
  font-size: 1rem;
  margin:auto;
  display:block;
  /* border: 1px solid black; */
  width: 10vw;
}
#fav-btn{
  margin-bottom: none;
}

