figure {
  border: 1 px solid red;
  padding: 1vw;
  text-align: center;
  width: 20vw;
  height: auto;
}

 h2{
  margin: none;
  border: 1px solid black;
}

 img{
  /* width: 5vw;
  height: 5vw; */
  /* border: 1px solid black; */
  margin-bottom: 15px;
}

 img:hover{
  cursor: pointer;
  border-bottom: blue 1px dashed;
  padding-bottom: 10px;
}

 p{
  font-size: 1rem;
  margin:auto;
  display:block;
  border: 1px solid black;
  width: 10vw;
}

